body {
 background-color: gray;
 font-family: "arial";
}

h1 {
    font-size: 33 px;
    color: green;
}

ul {
    font: small-caps italic 14px/1 sans-serif;
}

p {
  background-color: yellow;
  border-color: violet;
  border-style: lined;
}

